* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body h1, body h2 {
    background: linear-gradient(90deg,#53b3be,#3650d3);
    padding: 3px;
    color: #fff;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, textarea, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background: linear-gradient(201.09deg,#2a83c4 12.99%,#9d32f0 66.43%,#8223c8 90.92%);
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(90deg,#8f48d1,#d34e45);
}

.error-message {
    background: linear-gradient(90deg,#cc6f68,#df2020);
    display: block !important;
}

.success-message {
    background: linear-gradient(90deg,#53b3be,#3650d3);
    display: block !important;
}

#response-message {
    display: none;
    font-size: 12px;
    padding: 8px;
    color: #fff;
    margin-bottom: 8px;
}